{% extends 'base.html.twig' %}

{% block title %}Page introuvable{% endblock %}

{% block body %}
    {% include '_partials/header.html.twig' %}

    <main class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">

                <img src="{{ asset('img/fridge_error500.png') }}" alt="Fridge Hero"
                    class="img-fluid" style="max-height: 350px;">



                <h1 class="mb-3">500 — Erreur interne du serveur</h1>
                <p class="mb-4">Une erreur est survenue sur le serveur. Veuillez réessayer plus tard.</p>

                <div class="d-flex gap-3 justify-content-center flex-wrap">
                    <a href="{{ path('app_home') }}" class="btn btn-primary px-4">
                        Retour à l'accueil
                    </a>
                    <a href="javascript:history.back()" class="btn btn-outline-secondary px-4">
                        Page précédente
                    </a>
                </div>

            </div>
        </div>
    </main>

    {% include '_partials/footer.html.twig' %}
{% endblock %}